/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
mobile - 360px  22.5em
desktop - from 700px 43.75em
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  color: #e2e2e2;
  background-color: #202124;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

/* Elements
--------------------------------------------- */

/* scroll bar */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

ul {
  list-style-type: none;
}

/* Links
--------------------------------------------- */
a,
a:hover,
a:visited,
a:focus,
a:active {
  color: #e2e2e2;
  text-decoration: none;
  transition: 0.3s;
}

a:focus {
  color: #ffee2e;
}

a {
  line-height: 1;
}

footer a:hover,
section-contact a {
  background-color: #226b05;
  color: white;
  border-radius: 0.5rem;
}

nav a:hover {
  border-bottom: 5px solid #226b05;
}

a:active {
  opacity: 0.5;
  transition: 0.1s;
}

.site-footer a {
  padding: 1rem;
}

.section-contact:hover,
.section-about-comment:hover {
  b {
    color: #ffee2e;
    transition: 1s;
  }
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.site-wrapper {
  max-width: 125rem;
  margin: 0 auto;
  background: linear-gradient(#202124 70%, #000 90%);
}

.section-header {
  margin: 0 3rem auto;
}

.section-projects,
.section-header {
  position: relative;
}

.section-header::after,
.section-projects::after {
  content: "";
  display: block;
  width: 60%;
  max-width: 40rem;
  height: 0.1rem;
  margin: 0 auto;
  background-color: #888888;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}

/*--------------------------------------------------------------
# Components ++ 1 general  + 2 mobile + 3 desktop @media query task
--------------------------------------------------------------*/

/* Header ++ 1 general  + 2 mobile + 3 desktop @media query task
--------------------------------------------- */
/* 1 general ==================== */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202124;
  opacity: 0.9;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  max-width: 125rem;
  top: 0;
  z-index: 10;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-logo img {
  margin: 0.5rem;
  max-width: 2.5rem;
}

.site-nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  margin: 0 1rem;
}

/* 2 Mobile ==================== */

.site-nav {
  .mobile li {
    padding: 0 0.3rem;
  }
  .desktop {
    display: none;
  }
}

/* 3 Desktop ==================== */
@media (min-width: 30em) {
  .site-nav {
    .mobile {
      display: none;
    }
    .desktop {
      display: flex;
      margin-right: 2rem;
    }
  }
}

/* Main ++ 1 general  + 2 mobile + 3 desktop @media query task
--------------------------------------------- */
/* 1 general ==================== */

.site-main {
  margin-top: 5rem;
}

h1 {
  margin-bottom: 3rem;
}

.impact-box {
  padding: 5rem 0;
  line-height: 1.5;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.project {
  max-width: 15rem;
  margin-bottom: 3rem;
  .project-categories {
    display: flex;
    margin-bottom: 0.25rem;
    .project-skills,
    .project-concepts {
      display: flex;
    }
    .project-tag {
      font-size: 0.5rem;
      padding: 0.3rem 0.1rem;
      min-width: 2rem;
      text-align: center;
      color: white;
      text-shadow: none;
      border-radius: 5%;
      margin: 0.15rem 0.1rem;
    }

    .htmlcss {
      background-color: #dd4b25;
    }
    .js {
      background-color: #f29727;
    }
    .wordpress {
      background-color: #207196;
    }
    .onlinestore {
      background-color: #cd016d;
    }
  }
  .project-box img {
    border: 2px solid #505050;
    border-radius: 5%;
    box-shadow: 2px 2px 0px #888888;

    object-fit: cover;
  }
  h3 {
    text-align: center;
  }
}

.section-about {
  min-width: 10rem;
}
.section-contact {
  display: flex;
  flex-direction: column;
  table,
  p {
    padding: 0;
    margin: 0;
  }
  table {
    margin-bottom: 1rem;
    border-spacing: 0;
    max-width: 25rem;
  }
  td {
    vertical-align: top;
  }
  i {
    min-width: 2rem;
  }

  a {
    padding: 1rem;
    max-width: 8rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #e2e2e2;
    color: #202124;
  }
  a:hover {
    background-color: #ffee2e;
    color: #202124;
    border-radius: 0.5rem;
  }
}

/* 2 Mobile ==================== */

.section-projects {
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin: 0 3rem auto;
}

.section-projects h2 {
  padding-bottom: 3rem;
}

.section-about {
  padding-top: 4rem;
  margin: 0 3rem;
}

.section-about-comment {
  padding-bottom: 0.5rem;
}
.section-contact h4 {
  padding: 1rem 0;
}

/* 3 Desktop ==================== */

@media (min-width: 50em) {
  .section-header,
  .section-projects,
  .section-about {
    max-width: 80rem;
    margin: 0 8rem auto;
  }

  .project-wrapper {
    gap: 2rem;
  }

  .project {
    max-width: 18rem;
  }

  .section-about {
    padding-top: 5rem;
    .section-about-box {
      max-width: 100rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      div {
        width: calc(50% - 1rem);
      }
      p {
        max-width: 36rem;
      }
    }
  }
}

/* Footer ++ 1 general  + 2 mobile + 3 desktop @media query task
--------------------------------------------- */
/* 1 general ==================== */
.site-footer {
  background-color: #000;
}

.link-icon {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.5rem;
}

/* 2 Mobile ==================== */

.site-footer {
  padding: 3rem 3rem 2rem 3rem;
  p {
    margin: 0;
  }
  address {
    margin: 1rem 0;
  }
}

/* 3 Desktop ==================== */

@media (min-width: 50em) {
  .site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 3rem 1rem 3rem;
  }
}
